body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}

.ankur .dish_Image {
  height: 240px;
  width: max-content;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.dish_Image:hover {
  transform: scale(1.05);
  /* animation-duration: 3s; */
  animation: ease;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dish_card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
